#google-logo {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 8.6%;
    height: auto;
}

#search-container {
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    
    
}

#searchbox {
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0,4.2,86.1,0.85);
    margin-top: 3em;
    height: 30px;
    width: 400px;
    
}

#buttons {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.search-button {
    border-radius: 1%;
    margin:20px;
    margin-top: 35px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}