#google-logo {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 8.6%;
    height: auto;
}

#search-container {
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    
}

#searchbox {
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0,4.2,86.1,0.85);
    margin-top: 3em;
    height: 40px;
    width: 600px;
    border-radius: 2%;
    
    
}
#searchbox:hover {
    box-shadow: 1px 1px 2px grey;
}

#buttons {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.search-button {
    border-radius: 1%;
    margin:20px;
    margin-top: 30px;
    
}

#left-navbar{
    width: 300px;
}

#right-navbar{
    width: 500px;
    float: right;
    display: flex;
    margin-top: -65px;
    justify-content: right;
}
ul {
    list-style-type: none;
    margin: 20px;
    padding: 5px;
}

li {
    margin-inline-end: 15px;
    display: inline;
}

#footer{
    position: fixed;
    bottom: 0;
    margin-bottom: -15px;
}



html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 98%;
    width: 100%;
 }