#google-logo {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 8.6%;
    height: auto;
}

#search-container {
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    
}

#searchbox {
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0,4.2,86.1,0.85);
    margin-top: 3em;
    height: 40px;
    width: 600px;
    border-radius: 10px;
    
    
}
#searchbox:hover {
    box-shadow: 1px 1px 2px grey;
}

#buttons {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.search-button {
    border-radius: 1%;
    margin:20px;
    margin-top: 30px;
    height: 30px;
    background-color: rgb(241, 239, 239);
    border:none;
    font-size: 15px;
    color: rgb(112, 116, 116);
}

.search-button:hover {
    border-style: solid;
    border-width: 1px;
    color: black;
    border-radius: 10px;
}

#left-navbar{
    width: 300px;
    margin-top: -8px;
}

#right-navbar{
    width: 500px;
    float: right;
    display: flex;
    margin-top: -65px;
    justify-content: right;
}

#signin-button {
    background-color: rgb(97, 97, 238);
    color: white;
    border: none;
    border-radius: 4px;
    width: 35%;
    height: 150%;
}


ul {
    list-style-type: none;
    margin: 20px;
    padding: 5px;
}

li {
    margin-inline-end: 15px;
    display: inline;
}

#footer{
    position: fixed;
    bottom: 0;
    display: flex;
    margin-bottom: -15px;
    border-style: solid;
    border-top: 1px solid#e6e6e6;
    background-color: #f3f2f2;
    height: 6%;
    width: 100%;
    
}

#footer-text {
    margin-top: 10px;
    width: 100%;
    
}



html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 98%;
    width: 100%;
 }

 #right-footer{
    margin-left: 1380px;
    
    
 }

 

 a {
     font-size: 12px;
     color: rgb(80, 78, 78);
     text-decoration: none;
 }